body {
	background-color:#070707;
	text-align:center;
}
a {
	color:yellow;
	font-size:40px;
	font-family: Geo;
}
p {
	color:white;
	font-size:14px;
	text-align:center;
	font-family: Geo;
}
h1 {
	color:DodgerBlue;
	font-family: Geo;
}
label {
	color:White;
	font-family: Geo;
}
.outer {
	border-style:double;
	border-width:20px;
	border-color:DarkSlateBlue;
	width:425px;
	float:left;
}
.inner {
	text-align:left;
	margin:auto;
	width:50%
}